<p id="notice"></p>
<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">welcome to <i class="fas fa-book"></i> <strong>Josei Collection</strong>  !!</h1>
    <p>このサイトは女性の為のレビューサイトです。
    転職や働き方についての悩みなどをシェアしたり、意見交換したり
    おすすめの本などを
    投稿するサイトになります。</p>
  </div>
</div>
<i class-"fas fa-book"></i>